[submodule "subdataset"]
	path = subdataset
	url = https://github.com/jbwexler/datalad_nested_test-subdataset.git
	datalad-id = 76b56089-5b89-4aec-a5f1-8e830b3d11bc
[submodule "subdataset2"]
	path = subdataset2
	url = https://github.com/jbwexler/datalad_nested_test-subdataset2.git
	datalad-id = 8bd920cd-d752-40ad-87eb-424bbdf17bae
